 @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
header{
	position: relative;
	overflow-x: hidden;
	width: 100%;
	height: 70vh;
}
.headersec{
	position: relative;
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	flex-flow: column;
}
header:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 55vh;
	background: url(img/back1.jpg), #7abcff;
	background-position: center;
	background-size: cover; 
	background-repeat: no-repeat;
	border-radius: 0 0 50% 50%/0 0 100% 100%;
	transform: scale(1.5);

}
.headersec .header-content{
	position: relative;
	z-index: 1;
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
}
.headersec .header-content a{
	text-decoration: none;
}
.search{
	display: flex;
	justify-content: center;
	align-items: center;
}
.service .single_service{
	border-right: 1px solid #000;
}
.service i{
	font-size: 40px;
}
.service .last_single_service{
	border-right: none;
}

.service a{
	text-decoration: none;
	color: #000;
}
.third .content{
	display: flex;
	justify-content: center;

	flex-flow: column;
}

.third, .fourth{
	background: #D7D7D7;
	padding-bottom: 70px;
}
.fourth .single_project{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	transition: .4s;
}
.fourth .single_project:hover{
	transform: scale(1.04);
}
.fourth .single_project:hover  i{
	opacity: 0.8;
}
.fourth .single_project i{
	background: #efefef;
	padding: 10px 8px;
	border-radius: 50%;
	transition: 0.4s;
}
.fourth .single_project a{
	text-decoration: none;
}
.fifth{
	background: #D7D7D7;
	padding-bottom: 20px;
}
.fifth figure img{
	width: 100px;
	height: 100px;
	border-radius: 50%;

}
.fifth .img_background{
	background: url(img/back.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.form_section{
	background: #DCE8FC;
}
.form_section iframe{
	width: 100%;
	height: 100%;
}
.form_section figure{
	width: 100%;
	height: 100%;
}

footer{
	background: #1D3157;
	color: #fff;
}
footer ul{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	font-size: 25px;
}
footer ul li a{
	text-decoration: none;
	color: #fff;

}
footer ul li a i{

	background: red;
	border-radius: 50%;
}
footer .footer_icon_box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
footer .footer_icon_box a{
	text-decoration: none;
}
footer .footer_icon_box i{
	font-size: 40px;
	padding: 20px 22px;
	background: #387DFF;
	color: #fff;
	border-radius: 50%;
	border: 3px solid #387DFF;
	transition: 0.4s;
}
footer .footer_icon_box:hover i{
	background: transparent;
	border: 3px solid #fff;
}